html {
  font-size: 17px; /* Cleaner & sharper than 16px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}body { height: 100%; margin: 0; padding: 0; background:#000; }
h1, h2, h3, p { margin: 0; }
* { box-sizing: border-box; }
